<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my app</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
  <a href="/">Home</a>
  | 
  <a href="/contact">Contact Us</a>
  | 
  <a href="/all_contacts">All Contact</a>
  <hr>
  <%= yield %>
</body>
</html>