<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my app</title>
</head>
<body>
  <h1>Contact Us</h1>

  <form action="/contact" method="post">
    <input type="text" placeholder="Your Email" name="email">
    <br>
    <input type="text" placeholder="Your Name" name="full_name">
    <br>
    <textarea plceholder="Your Message" name="message"></textarea>
    <br>
    <input type="submit" value="Contact Us!">
  </form>

</body>
</html>